<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Forensics Tool</title>
    <!-- Code retrieved from https://getbootstrap.com/docs/5.3/getting-started/introduction/ for using Bootstrap, on April 7th 2024 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
        h2 {
            padding-top: 30px;
            padding-bottom: 50px;
            font-weight: bold;
        }
        #mmlsData-meta {
            white-space: pre; /* Code referenced from https://www.w3schools.com/cssref/pr_text_white-space.php for wrapping text based on whitespances, on April 7th 2024 */
        }
        button {
            border-radius: 10px;
            height: 30px;
            width: 200px;
            font-family: 'Courier New', Courier, monospace;
            background-color: rgb(51, 62, 116);
            border: 0px;
            color: white;
        }
        table input{
            font-family: 'Courier New', Courier, monospace;
            height: 20px;
            width: 20px;
            justify-content: center;
        }
        #filePath{
            font-family: 'Courier New', Courier, monospace;
            height: 30px;
            width: 300px;
        }
        
        .hash-button-container{
            padding-top: 30px;
            display: inline-block /* Code retrived from https://www.shecodes.io/athena/1837-how-to-put-2-images-on-one-line-with-css for putting 2 elements in one line, on April 7th 2024*/
        }
        .button-container{
            display: flex;
            justify-content: center;
            padding-top: 30px;
        }
        .carve-button-container{
            padding-top: 40px;
            display: flex;
            justify-content: center;

            #combinedCarvingBtn {
                margin-left: 20px;
                margin-right: 20px;
            }
            #individualCarvingBtn {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        #md5Display{
            padding-top: 20px;
            padding-bottom: 30px;
        }
        #mmlsData-meta{
            text-align: left;
        }
        .files{
            text-align: left;
            padding-top: 10px;
            padding-left: 28px;
            padding-bottom: 10px;
        }
        #accordion-section{
            margin-bottom: 50px;
            text-align: left;
            padding-left: 10px;
            justify-content: left;

        }
        .card-header{
            width: 20;
            justify-content: left;
        }
        #reminder{
            text-align: right;
        }
    </style>
    
</head>
<body>
    <h2>Forensics File Carving Tool</h2>
    <!-- Code retrived from https://getbootstrap.com/docs/5.3/getting-started/introduction/ for using bootstrap, on April 14th 2024 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Code adapted from https://getbootstrap.com/docs/5.3/layout/columns/ for utilizing columns to create a side bar in Bootstrap, on April 7th 2024 -->
    <div class="row"> 
        <div class="col-3">
            <form id="filePathForm">
                <label for="filePath">Enter the file path:</label>
                <input type="text" id="filePath" name="filePath">
                <div class="hash-button-container">
                    <button type="submit" class="hash-button">Check MD5 Hash</button>
                </div>
            </form>
            <p id="md5Display"></p>
            <div class="button-container">
                <button id="fetchMmlsBtn" style="display:none;">Get Partition Table</button>
            </div>
        </div>
        <div class="col-8">
            <div id="partition-table-section"> 
                <p id="partitionTable-title"></p>
                <p id="mmlsData-meta"></p>
                <!-- Code adapted from https://getbootstrap.com/docs/4.0/content/tables/ for formatting the table through Bootstrap, on April 7th 2024 -->
                <table id="mmlsData-table" class="table table-striped table-bordered"></table>
                <div class="carve-button-container">
                    <button id="combinedCarvingBtn" style="display:none;">Carve Together</button>
                    <button id="individualCarvingBtn" style="display:none;">Carve Individually</button>
                </div>
                <span id="errors"></span>
            </div>

            <!-- Code adapted from https://www.w3schools.com/bootstrap5/bootstrap_collapse.php for creating collapsed buttons, on April 7th 2024 -->
            <div id="list-files-section">
                <p id="file-list-title"></p>
                <p id="reminder"></p>
                <div id="accordion-section">
                </div>
            </div>
        </div>
    </div>


    <script>
        let filePath = ''; // This will hold the file path state
        var partitions = null; // Stores the partition information
        var collapse_element_count = 0; // For giving unique ids for collapsed buttons

        document.getElementById('filePathForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting the traditional way
            filePath = document.getElementById('filePath').value; // Update the filePath state
            
            // Fetch the MD5 checksum
            fetch(`/api/file-md5?file_path=${encodeURIComponent(filePath)}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('md5Display').textContent = `MD5 Hash: ${data.md5}`;
                    document.getElementById('fetchMmlsBtn').style.display = 'block'; // Show the MMLS button
                })
                .catch(error => console.error('Error fetching MD5 data:', error));
        });

        document.getElementById('fetchMmlsBtn').addEventListener('click', function() {
            // Fetch the MMLS info using the saved filePath state
            fetch(`/api/mmls-info?file_path=${encodeURIComponent(filePath)}`)
                .then(response => response.json())
                .then(data => {
                    // Ensure the presence of partition table information in the response
                    if ('metadata' in data) {
                        document.getElementById('list-files-section').style.display = 'none'; // Hide file table
                        document.getElementById('partition-table-section').style.display = 'block'; // show partition table

                        document.getElementById('mmlsData-meta').textContent = `${data.metadata}`; // Display the meta data
                        document.getElementById('partitionTable-title').textContent = "Partition Table"; // Set the partition table title
                        partitions = data.sectors_info;

                        const table = document.getElementById('mmlsData-table');

                        // Code adapted from https://stackoverflow.com/questions/7271490/delete-all-rows-in-an-html-table for removing rows in a table, on April 7th 2024
                        table.innerHTML = ""; // Clear the current rows in the table so that only new generated contents are displayed

                        // Code adapted from https://www.w3schools.com/js/js_htmldom_nodes.asp for appending children to an HTML element, on April 7th 2024
                        // Table Head
                        const title_thead = document.createElement("thead");
                        // A table row for headers
                        const title_tr = document.createElement("tr");
                        // Create the table headers
                        const th_checkbox = document.createElement("th");
                        const th_index = document.createElement("th");
                        const th_slot = document.createElement("th");
                        const th_start = document.createElement("th");
                        const th_end = document.createElement("th");
                        const th_length = document.createElement("th");
                        const th_description = document.createElement("th");
                        const th_viewfile = document.createElement("th");
                        // Header contents
                        const title_checkbox = document.createTextNode("");
                        const title_index = document.createTextNode("Index");
                        const title_slot = document.createTextNode("Slot");
                        const title_start = document.createTextNode("Start");
                        const title_end = document.createTextNode("End");
                        const title_length = document.createTextNode("Length");
                        const title_description = document.createTextNode("Description");
                        const title_viewfile = document.createTextNode("Filesystem Files");

                        th_checkbox.appendChild(title_checkbox);
                        th_index.appendChild(title_index);
                        th_slot.appendChild(title_slot);
                        th_start.appendChild(title_start);
                        th_end.appendChild(title_end);
                        th_length.appendChild(title_length);
                        th_description.appendChild(title_description);
                        th_viewfile.appendChild(title_viewfile);

                        title_tr.appendChild(th_checkbox);
                        title_tr.appendChild(th_index);
                        title_tr.appendChild(th_slot);
                        title_tr.appendChild(th_start);
                        title_tr.appendChild(th_end);
                        title_tr.appendChild(th_length);
                        title_tr.appendChild(th_description);
                        title_tr.appendChild(th_viewfile);

                        // Append the row to table header and append the table header to the table
                        title_thead.appendChild(title_tr)
                        table.appendChild(title_thead)

                        // Table Body
                        const tbody = document.createElement("tbody");
                        // Iteratively add elements to the mmlsData-table
                        data.sectors_info.forEach(element => {
                            // Table elements
                            const tr = document.createElement("tr"); // A table row for this table entry
                            const td_checkbox = document.createElement("td")
                            const td_index = document.createElement("td");
                            const td_slot = document.createElement("td");
                            const td_start = document.createElement("td");
                            const td_end = document.createElement("td");
                            const td_length = document.createElement("td");
                            const td_description = document.createElement("td");
                            const td_viewfile = document.createElement("td");
                            // Get contents from data
                            // Code adpated from https://stackoverflow.com/questions/866239/creating-the-checkbox-dynamically-using-javascript for dynamically creating checkboxes, on April 7th 2024
                            var checkbox_element = document.createElement("input")
                            checkbox_element.type = "checkbox"
                            checkbox_element.class = "checkbox"
                            checkbox_element.name = "checkboxes"
                            const index = document.createTextNode(element.Index.substring(0, element.Index.length - 1));
                            const slot = document.createTextNode(element.Slot);
                            const start = document.createTextNode(element.Start);
                            const end = document.createTextNode(element.End);
                            const length = document.createTextNode(element.Length);
                            const description = document.createTextNode(element.Description);
                            var is_filesystem = element.IsFileSystem;
                            var viewfile_element = null; 
                            if (is_filesystem){
                                viewfile_element = document.createElement("button");
                                // If the partition has a file system, enable the users to view the files
                                // Code adapted from https://www.shecodes.io/athena/24803-how-to-change-button-label-with-javascript for updating button's name, on April 14th 2024
                                viewfile_element.innerHTML = "View Files"
                                // Set the onclick function to call the API
                                // Code adapted from https://stackoverflow.com/questions/14034737/creating-a-button-dynamically-with-arguments-for-onclick and https://www.w3schools.com/jsref/event_onclick.asp
                                // for setting onclick function for dynamically created buttons, on April 14th 2024
                                viewfile_element.onclick = function() {
                                    getFiles(element.Start, element.Index.substring(0, element.Index.length - 1)); // Get files in this partition
                                }
                            } else {
                                // If the partition not a file system, no files to view
                                viewfile_element = document.createTextNode("No Files");
                            }
                            // Add content to each row element
                            td_checkbox.appendChild(checkbox_element)
                            td_index.appendChild(index);
                            td_slot.appendChild(slot);
                            td_start.appendChild(start);
                            td_end.appendChild(end);
                            td_length.appendChild(length);
                            td_description.appendChild(description);
                            td_viewfile.appendChild(viewfile_element)
                            // Append row elements to this row
                            tr.appendChild(td_checkbox)
                            tr.appendChild(td_index);
                            tr.appendChild(td_slot);
                            tr.appendChild(td_start);
                            tr.appendChild(td_end);
                            tr.appendChild(td_length);
                            tr.appendChild(td_description);
                            tr.appendChild(td_viewfile);
                            // Add a new row to the table body
                            tbody.appendChild(tr)
                            
                        });
                        // Append the table body to the table
                        table.appendChild(tbody)
                        // Show the carving buttons
                        document.getElementById('combinedCarvingBtn').style.display = 'block'; 
                        document.getElementById('individualCarvingBtn').style.display = 'block';
                    } else {
                        // Handle cases where partition table information is not in the response, such as errors
                        console.error('MMLS info not found in response:', data);
                        document.getElementById('mmlsData').textContent = `Error: ${data.error} Details: ${data.details}`;
                    }
                })
                .catch(error => console.error('Error fetching MMLS data:', error));
        });

        function getFiles (start, index){
            // Call the API to get all files for this file system
            // Referenced https://www.geeksforgeeks.org/how-to-get-url-parameters-using-javascript/ for URL params seperators, on April 14th 2024
            fetch(`/api/list-files?file_path=${encodeURIComponent(filePath)}&start_sector=${encodeURIComponent(start)}`)
                .then(response => response.json())
                .then(data => {
                    // console.log(data)
                    document.getElementById('list-files-section').style.display = 'block'; // show file table
                    document.getElementById('partition-table-section').style.display = 'none'; // hide partition table


                    const collapse_section = document.getElementById('accordion-section');
                    collapse_section.innerHTML = "" // Clear all previously displayed files
                    var title = "Files in Partition " + index
                    document.getElementById('file-list-title').textContent = title; // Set the section title
                    document.getElementById('reminder').textContent = "Note: metadata address is shown in ()"; 

                    collapse_element_count = 0;

                    for (var i = 0; i < data.children.length; i ++){
                        var currentNode = data.children[i];

                        const collapse_card = document.createElement("div");
                        collapse_card.setAttribute("class", "card");

                        if (currentNode.type == "directory"){
                            collapse_element_count += 1;
                            // Header elements:
                            const collapse_head = document.createElement("div");
                            collapse_head.setAttribute("class", "card-header");

                            const collapse_a = document.createElement("a");
                            // Code adapted from https://www.w3schools.com/jsref/met_element_setattribute.asp for setting an element's attributes dynamically, on April 14th 2024
                            collapse_a.setAttribute("class", "collapsed btn"); 
                            var name1 = "#collapse" + collapse_element_count
                            collapse_a.setAttribute("data-bs-toggle", "collapse");
                            collapse_a.setAttribute("href", name1)
                            collapse_a.innerHTML = currentNode.name + "   (" + currentNode.inode + ")";
                            collapse_a.setAttribute("style", "font-weight:bold;") // Set folder text to be bold

                            // Body elements:
                            const collapse_body_wrapper = document.createElement("div");
                            var name2 = "collapse" + collapse_element_count
                            collapse_body_wrapper.setAttribute("id", name2);
                            collapse_body_wrapper.setAttribute("class", "collapse");
                            // collapse_body_wrapper.setAttribute("data-bs-parent", "#accordion-section"); // Do not want to close the other when expanding one

                            const collapse_body = document.createElement("div");
                            collapse_body.setAttribute("class", "card-body");
                            
                            // Recursive call for its children, passing on the current collapsed card's body, will append children to this body
                            traverseNodes(currentNode.children, collapse_body)

                            // Connect them
                            collapse_head.appendChild(collapse_a);
                            collapse_body_wrapper.appendChild(collapse_body)
                            collapse_card.appendChild(collapse_head);
                            collapse_card.appendChild(collapse_body_wrapper);

                        } else { // the current node is a file
                            const filename_field = document.createElement("div");
                            filename_field.innerHTML = currentNode.name + "   (" + currentNode.inode + ")";
                            filename_field.setAttribute("class", "files");
                            collapse_card.appendChild(filename_field)
                        }

                        collapse_section.appendChild(collapse_card);                        
                    }
                })
                .catch(error => console.error('Error getting filesystem files:', error));
        }

        // Recursive helper function to traverse through all the nodes
        function traverseNodes (childrens, currentCardBody){
            // Base case: there is no child
            if (childrens == null || childrens.length == 0) {
                return;
            }

            for (var i = 0; i < childrens.length; i ++){
                var currentNode = childrens[i];

                if (currentNode.type == "directory"){
                    collapse_element_count += 1;
                    // Header elements:
                    const collapse_head = document.createElement("div");
                    collapse_head.setAttribute("class", "card-header");

                    const collapse_a = document.createElement("a");
                    // Code adapted from https://www.w3schools.com/jsref/met_element_setattribute.asp for setting an element's attributes dynamically, on April 14th 2024
                    collapse_a.setAttribute("class", "collapsed btn"); 
                    var name1 = "#collapse" + collapse_element_count
                    collapse_a.setAttribute("data-bs-toggle", "collapse");
                    collapse_a.setAttribute("href", name1)
                    collapse_a.innerHTML = currentNode.name + "   (" + currentNode.inode + ")"
                    collapse_a.setAttribute("style", "font-weight:bold;") // Set folder text to be bold

                    // Body elements:
                    const collapse_body_wrapper = document.createElement("div");
                    var name2 = "collapse" + collapse_element_count
                    collapse_body_wrapper.setAttribute("id", name2);
                    collapse_body_wrapper.setAttribute("class", "collapse");
                    // collapse_body_wrapper.setAttribute("data-bs-parent", "#accordion-section"); // Otherwise, the collapse actions will be propogated to parents

                    const collapse_body = document.createElement("div");
                    collapse_body.setAttribute("class", "card-body");

                    // Recursive calls to traverse its children, will append children to this collapse body
                    traverseNodes(currentNode.children, collapse_body)

                    // Connect them
                    collapse_head.appendChild(collapse_a);
                    collapse_body_wrapper.appendChild(collapse_body)
                    // Append the current entry to the card body
                    currentCardBody.appendChild(collapse_head);
                    currentCardBody.appendChild(collapse_body_wrapper);
                    
                } else { // the current node is a file
                    const filename_field = document.createElement("div");
                    filename_field.innerHTML = currentNode.name + "   (" + currentNode.inode + ")"
                    filename_field.setAttribute("class", "files");
                    currentCardBody.appendChild(filename_field)
                }
            }

            return;
        }

        document.getElementById('combinedCarvingBtn').addEventListener('click', function() {
            // Code adapted from https://stackoverflow.com/questions/23175006/how-to-check-multiple-checkboxes-with-javascript for checking whether checkboxes are checked, on April 7th 2024
            var checkboxes = document.getElementsByName('checkboxes'); // All checkboxes
            var checkboxes_selected_indices = []; // Stores the indices of the selected checkboxes
            var checkbox_index = 0;
            checkboxes.forEach(element => {
                if (element.checked == true) {
                    checkboxes_selected_indices.push(checkbox_index);
                }
                checkbox_index += 1;
            });

            // Prepare the API params:
            // Step 1: Check if the selected checkboxes are consecutive
            var consecutive = true;
            for (let i = 0; i < checkboxes_selected_indices.length - 1; i++){
                if (checkboxes_selected_indices[i + 1] - checkboxes_selected_indices[i] != 1){
                    consecutive = false
                }
            }
            
            if (consecutive){
                // Step 2: Determine the start sector
                var startSector = partitions[checkboxes_selected_indices[0]].Start
                // Step 3: Determine the carving length
                var carvingLength = 0
                checkboxes_selected_indices.forEach(element => {
                    // Code referenced https://www.geeksforgeeks.org/convert-a-string-to-an-integer-in-javascript/ for converting string to integers in JS, on April 7th 2024
                    carvingLength += Number(partitions[element].Length)
                });
                // Step 4: Determine the sector size
                var sectorSize = 512;

                // Call API for users to carve the partitions (COMBINED)
                fetch('/api/extract-data-to-download', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 
                        file_path: filePath,
                        start_sector: startSector,
                        length: carvingLength,
                        byte_size: sectorSize
                    })
                })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    // Specify the filename you want to download as
                    a.download = "Partitions.dd"; //should be dynamic based on user selection
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Download error:', error));

            } else {
                // Code referenced https://www.w3schools.com/jsref/met_win_alert.asp for alerting a message to users, on April 7th 2024
                // Alert the users about the error: cannot do combined carving
                alert("Cannot carve together since the selected partitions are not consecutive");
            }
        });

        document.getElementById('individualCarvingBtn').addEventListener('click', function() {
            // Code adapted from https://stackoverflow.com/questions/23175006/how-to-check-multiple-checkboxes-with-javascript for checking whether checkboxes are checked, on April 7th 2024
            var checkboxes = document.getElementsByName('checkboxes'); // All checkboxes
            var checkboxes_selected_indices = []; // Stores the indices of the selected checkboxes
            var checkbox_index = 0;
            checkboxes.forEach(element => {
                if (element.checked == true) {
                    checkboxes_selected_indices.push(checkbox_index);
                }
                checkbox_index += 1;
            });

            // Prepare the API params: start sectors, lengths, sector size
            var startSectors = [];
            var carvingLengths = [];
            partitions[checkboxes_selected_indices[0]].Start;
            
            checkboxes_selected_indices.forEach(element => {
                startSectors.push(partitions[element].Start);
                carvingLengths.push(partitions[element].Length);
            });
            var sectorSize = 512;

            // Call API multiple times to carve the partitions (INDIVIDUALLY)
            for (let i = 0; i < checkboxes_selected_indices.length; i++){
                startSector = startSectors[i];
                carvingLength = carvingLengths[i];
                
                fetch('/api/extract-data-to-download', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 
                        file_path: filePath,
                        start_sector: startSector,
                        length: carvingLength,
                        byte_size: sectorSize
                    })
                })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    // Specify the filename you want to download as
                    download_filename = "Partition" + checkboxes_selected_indices[i] + ".dd"
                    a.download = download_filename; //should be dynamic based on user selection
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Download error:', error));

            }

        });
    </script>
</body>
</html>
