<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Forensics Tool</title>
</head>
<body>
    <h1>Welcome to the File Forensics Tool</h1>
    <form id="filePathForm">
        <label for="filePath">Enter the file path:</label>
        <input type="text" id="filePath" name="filePath">
        <button type="submit">Get MD5 Checksum</button>
    </form>
    <p id="md5Display"></p>
    <button id="fetchMmlsBtn" style="display:none;">Get MMLS Info</button>
    <p id="mmlsData"></p>

    <script>
        let filePath = ''; // This will hold the file path state

        document.getElementById('filePathForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting the traditional way
            filePath = document.getElementById('filePath').value; // Update the filePath state
            
            // Fetch the MD5 checksum
            fetch(`/api/file-md5?file_path=${encodeURIComponent(filePath)}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('md5Display').textContent = `MD5 Checksum: ${data.md5}`;
                    document.getElementById('fetchMmlsBtn').style.display = 'block'; // Show the MMLS button
                })
                .catch(error => console.error('Error fetching MD5 data:', error));
        });

        document.getElementById('fetchMmlsBtn').addEventListener('click', function() {
            // Fetch the MMLS info using the saved filePath state
            fetch(`/api/mmls-info?file_path=${encodeURIComponent(filePath)}`)
                .then(response => response.json())
                .then(data => {
                    // Ensure you're correctly checking the presence of 'info' in the response
                    if ('info' in data) {
                        document.getElementById('mmlsData').textContent = `MMLS Info: ${data.info}`;
                    } else {
                        // Handle cases where 'info' is not in the response, such as errors
                        console.error('MMLS info not found in response:', data);
                        document.getElementById('mmlsData').textContent = `Error: ${data.error} Details: ${data.details}`;
                    }
                })
                .catch(error => console.error('Error fetching MMLS data:', error));

        });
    </script>
</body>
</html>
